{% extends 'admin/base.html' %}
<!DOCTYPE html>
<html lang="sv">
  {% block head_css%}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Information tillgänglig för vidareutnyttjande - data.kb.se</title>
  <link href="/static/css/kb-style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/kb.css" />
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <style> .navbar-bottom { margin-bottom: 50px;} </style>
  {% endblock %}
  <body>
    {% block page_body %}
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-logo" href="/"><img src="/static/img/kb_logo_white.svg" alt="Till startsidan"/></a>
          <a class="navbar-brand" href="/">data.kb.se</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if session.logged_in %}
            <ul class="nav navbar-nav navbar-right">
<li><a class="kb-nav-item" href="{{url_for('datasets.create_view')}}"><i class="fa fa-plus"></i> Nytt dataset</a></li>
            <li><a class="kb-nav-item" href="/admin/"><i class="fa fa-cog"></i> Admin</a></li>
            <li><a class="kb-nav-item" href="/logout">Logga ut</a></li>
            <li class="kb-nav-item"><a class="kb-nav-item" href="#">{{ session.real_name }}</a></li>
            </ul>
            {% endif %}
        </div>
      </div>
    </nav>
      <nav class="navbar navbar-bottom navbar-inverse">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
                    {{ layout.menu() }}
       </ul>
        </div>
      </div>
    </nav>
    <div class="container" role="main">
        <div class="col-md-2" role="navigation">
          <ul class="nav kb-nav-pills">

            {{ layout.menu_links() }}
          </ul>
        </div>
        <div class="col-md-10">
          {% block content %}
          {% endblock %}
          {{ layout.messages() }}
          {% block body %}{% endblock %}
        </div>
    </div>
    {% include "footer.html" %}
    {% endblock %}
  </body>
</html>
