@media (min-width: 1200px) {
  .container {
    width: 920px;
  }
}

body, html {
   height:100%
}

div[role=main] {
   min-height:70%
}

h1 {
  margin-top: 1.5em;
  margin-bottom: 0.7em;
}

.intro {
  margin-bottom: 2em;
}

 .form-horizontal .control-group .control-label {
    text-align:left;
}
