@media (min-width: 1200px) {
  .container {
    width: 920px;
  }
}


body {
  font-family: Arial, sans-serif;
}

a {
  color: rgb(0, 143, 137);
  text-decoration:underline;
}

a:focus,
a:active,
a:hover {
	background-color: #ff6;
	color: #000 !important;
	text-decoration: none;
}

.logo a:hover
{
  background-color: transparent;
}

h1 {
  font-size: 170%;
  margin-top: 2em;
  font-family: Georgia, serif;
}

h2 {
  font-size: 140%;
  font-family: Georgia, serif;
}

.kb-masthead {
  background-color:#009EE0;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.kb-masthead .logo {
  float:left;
}

.kb-masthead .logo img {
  width: 80px;
}

/* Nav links */
.kb-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
  text-decoration:none;
}
.kb-nav-item:hover,
.kb-nav-item:focus {
  color: #fff;
  text-decoration: underline;
}

/* Active state gets a caret at the bottom */
.kb-nav .active {
  color: #fff;
}
.kb-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right:  5px solid transparent;
  border-bottom: 5px solid;
  border-left:   5px solid transparent;
}


.kb-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.kb-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.kb-description {
  font-size: 20px;
  color: #999;
}


.kb-main {
  font-size: 18px;
  line-height: 1.5;
}

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


.kb-post {
  margin-bottom: 60px;
}
.kb-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.kb-post-meta {
  margin-bottom: 20px;
  color: #999;
}


.kb-footer {
  margin: 4em 0 10px 0;
  padding: 20px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

