DATABASE_FILE = './data.db'
SQLALCHEMY_DATABASE_URI = 'sqlite:///' + DATABASE_FILE
SQLALCHEMY_ECHO = False
DATASET_ROOT = '/path/to/datasets'
# Sets up login to mock remote_user
APPENV = 'dev'
# Adds the test admin user for mocking login
if APPENV == 'dev':
    USER_LIST.append('Test Admin')

# List of users to seed as admins
USER_LIST = ['user1', 'user2']

# Torrent info
# Datset key is used for creating datasets with SUNET
DATASETKEY = 'YOURAPIKEY'
# Announce URL to use for torrents
ANNOUNCE = 'http://example.com/announce'
# Watch directory to dump created torrent files into (used with rtorrent for example)
TORRENT_WATCH_DIR = '/path/to/torrent/dir'
