<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Information tillgänglig för vidareutnyttjande - data.kb.se</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/kb.css" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="kb-masthead">
      <div class="container">
        <div class="logo">
          <a href="/" class="kb-nav-item"><img src="/static/img/kb_logo_white.png" alt="Till startsida" /></a>
        </div>
        <div class="pull-right">
          <nav class="kb-nav">
            <a class="kb-nav-item" href="/">Startsida</a>
            <a class="kb-nav-item" href="http://www.kb.se/">www.kb.se</a>
            {% if session.logged_in %}
            <a class="kb-nav-item" href="/new"><i class="glyphicon glyphicon-plus-sign"></i> Nytt dataset</a>
            <a class="kb-nav-item" href="/logout">Logga ut</a>
            {% endif %}
          </nav>
        </div>
      </div>
    </div>
    <div class="container" role="main">
    {% block content %}
    {% endblock %}
      <div class="row">
        <div class="col-md-12">{% include "footer.html" %}</div>
      </div>
    </div>
  </body>
</html>
