<!DOCTYPE html>
<html lang="sv" prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              foaf: http://xmlns.com/foaf/0.1/
              sdo: http://schema.org/
              vocab: http://www.w3.org/1999/xhtml/vocab#
              rdfa: http://www.w3.org/ns/rdfa#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Information tillgänglig för vidareutnyttjande - data.kb.se</title>
    <link href="//kungbib.github.io/frontend-guide/css/kb-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/kb.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta rel="meta" href="/index.rdf" type="application/rdf+xml" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head_opengraph %}
    <meta property="og:url" content="https://data.kb.se" />
    <meta property="og:title" content="Information tillgänglig för vidareutnyttjande - data.kb.se" />
    <meta property="og:description" content="Öppna data från Kungl. Biblioteket" />
    <meta property="og:image" content="" />
    {% endblock %}
  <style>
  .dl-left dt{
    text-align: left;
    width: auto;
    padding-right: 1em;
}

.dl-left dd{
    margin-left: 0;
}
</style>
  </head>
  <body vocab="http://schema.org/">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand navbar-logo" href="/"><img src="//kungbib.github.io/frontend-guide/assets/kb_logo_white.svg" alt="Till startsidan"/></a>
          <a class="navbar-brand" href="/">data.kb.se</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if session.logged_in %}
            <ul class="nav navbar-nav navbar-right">
            <li><a class="kb-nav-item" href="{{url_for('datasets.create_view')}}"><i class="fa fa-plus"></i> Nytt dataset</a></li>
            <li><a class="kb-nav-item" href="/admin/"><i class="fa fa-cog"></i> Admin</a></li>
            <li><a class="kb-nav-item" href="/logout">Logga ut</a></li>
            <li class="kb-nav-item"><a class="kb-nav-item" href="#">{{ session.real_name|trim }}</a></li>
            </ul>
            {% endif %}
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
    {% include "footer.html" %}
  </body>
</html>
