<footer class="footer" resource="/">
  <div class="footer-container bg-happy-muted-denim">
    <div class="container">
      <div class="col-md-2 text-center">
        <img src="//kungbib.github.io/frontend-guide/assets/kb_logo_white.svg" alt="" class="logo-medium" />
      </div>
      <div class="col-md-10 text-white">
        <p>
        <span property="publisher dc:publisher"
              typeof="Organization foaf:Organization foaf:Agent"
              resource="http://libris.kb.se/resource/auth/121848">
          <strong property="name foaf:name"><a href="http://www.kb.se">Kungliga biblioteket</a></strong>.
        </span>

        <link property="publishingPrinciples dc:license"
              resource="http://creativecommons.org/publicdomain/zero/1.0/" />
        <link property="foaf:homepage" resource="/" />
        <br>
        <span>Support: <a href="mailto:kungl.biblioteket@kb.se">kungl.biblioteket@kb.se</a></span>
        </p>
        Kungliga biblioteket hanterar dina personuppgifter i enlighet med EU:s dataskyddsförordning (2018), GDPR. <a href="https://www.kb.se/omoss/dataskydd.html"><b>Läs mer om hur det funkar här</b></a>.
Så här hanterar KB dina uppgifter vid <a href="https://www.kb.se/omoss/dataskydd.html#Digimaterial">användning av denna tjänst.</a>
</p>
      </div>
    </div>
  </div>
  
</footer>
  <!-- Piwik -->
  <script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
  var u="//analytics.kb.se/";
  _paq.push(['setTrackerUrl', u+'piwik.php']);
  _paq.push(['setSiteId', 1]);
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
  g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
})();
  </script>
  <noscript><img src="//analytics.kb.se/piwik.php?idsite=1" style="border:0;" alt="" /></noscript>
  <!-- End Piwik Code -->
