{% extends "base.html" %}
{% from 'macros.html' import dataset_uri %}
{% block content %}
  <div class="container" role="main" resource="/" typeof="DataCatalog dcat:Catalog">
    <h1 property="name dc:title">Öppna data från Kungliga biblioteket</h1>
    <meta property="dcat:themeTaxonomy" resource="http://eurovoc.europa.eu/" />
    <p property="description dc:description">Här hittar du information från <a href="http://www.kb.se/">Kungliga bibliotekets</a> datakällor. Detta är en betaversion och förteckningen kommer att uppdateras löpande. Materialet här är i första hand till för den som vill göra egna bearbetningar/tjänster. Vi försöker publicera material som rådata i öppna standarder, men det kan förekomma material där vi ännu inte hunnit konvertera till en öppen standard. För mer information kontakta <a href="mailto:peter.krantz@kb.se">Peter Krantz (e-post)</a>. Letar du efter data från andra myndigheter <a href="http://www.oppnadata.se/">besök öppnadata.se</a>.</p>
    <table class="table">
      <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Villkor</th>
        <th>Format</th>
        <th>Särskild kontaktperson</th>
      </tr>
      {% for dataset in datasets %}
        <tr property="dataset dcat:dataset" typeof="Dataset dcat:Dataset"
            resource="{{dataset_uri(dataset)}}">
          <td property="name dc:title"><a property="url dct:identifier" href="{{dataset_uri(dataset)}}"
              >{{dataset.name}}</a></td>
          <td property="description dc:description">{{dataset.description}}
          <meta property="dcat:theme" resource="http://publications.europa.eu/resource/authority/data-theme/TECH"/>
          <meta property="dcat:theme" resource="http://publications.europa.eu/resource/authority/data-theme/EDUC"/>
          </td>
          <td>
           {% for license in dataset.license %}
            <a property="publishingPrinciples dc:license" rel="license"
               href="{{ license.url }}">
              <abbr lang="en" title="{{ license.name }}">{{license}}</abbr></a>
            {% endfor %}
          </td>
          <td>
            {{ dataset.formats|join(', ') }}
          </td>
          {% if dataset.provider %}
          {% for p in dataset.provider %}
            <td property="provider dc:publisher" typeof="Person foaf:Person foaf:Agent">
              <span property="name foaf:name">{{p.name}}</span>
            </td>
          {% endfor %}
          {% else %}
            <td></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
